.root {
  &__title {
    font-size: 18px;
    color: var(--primaryColor);
    margin-bottom: 15px;
  }

  &__colors {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    height: 50px;
    align-items: center;
  }

  &__colorButton {
    border-radius: 100px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    padding: 4px;
    box-shadow: inset 0 0 0 1px var(--primaryBorderColor);
    margin: 2px;

    &.active {
      padding: 0;
      width: 44px;
      height: 44px;
      margin: 0px;
    }
  }

  &__color {
    height: 100%;
    border-radius: 100px;
  }
}
