.text {
  position: relative;
  text-align: justify;
  font-size: 14px;
  color: var(--primaryColor);

  &__showAll {
    margin-left: 20px;
  }

  &__button {
    margin: 0;
    color: var(--linkColor);
    padding: 2px 0;
    background-color: transparent;
    font-weight: 700;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__row {
    text-align: right;
  }

  &__mentionedUser {
    font-weight: 700;
    color: var(--blueColor);
  }
}
